project_name    = "prj-some-project-name" 
github_org      = "github_user_name"
github_repo     = "repo_name"
bucket          = "bkt-tfstate-prj-project-name" # used for terraform remote state storage, not used in any resources

